@page "/"
@using System.ComponentModel.DataAnnotations;
@using rMakev2.ViewModel;
@using rMakev2.Services;
@inject RmakeViewModel vm;
@inject ProjectViewModel PVm;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@inject IToastService toastService

<style>

    .index-header {
        color: #342e37;
        display: flex;
        align-items: center;
    }

    .login-container {
        box-sizing: border-box;
        padding: 50px 50px;
        max-width: 100%;
        /*box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;*/
        /*box-shadow: rgba(17, 17, 26, 0.25) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;*/ /*71*/
        box-shadow: rgb(38, 57, 77, 0.5) 0px 1px 13px -3px;
        border-radius: 25px;
        font-weight: 500;
        color: #342e37;
        width: 62%;
    }

    .option-btn {
        color: #342e37;
        border-color: none;
        border-radius: 8px;
        position: relative;
        text-align: center;
        transform: translateY(-58%);
        font-size: 14px;
        margin-top: 75%;
        margin-left: 10px;
        transition: all 0.3s ease;
    }
        .option-btn:hover {
            color: #fff;
        }

    .yellow-btn {
        background-color: #F2EF25;
    }

    .pink-btn {
        background-color: #D85AD0;
    }

    .blue-btn {
        background-color: #394BF8;
    }

    .optionTitle {
        text-decoration: underline;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .optionDesc {
        font-size: x-small;
        margin-top: 0px;
    }

    .mainSubTitle {
        color: blue;
        font-weight: bold;
        font-size:small;
    }

    .rotate_image {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .form-control-index {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,0.5);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 8px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        opacity: 0.5;
        margin-bottom: 20px;
    }
    

</style>


<div class="container-fluid d-flex flex-column" >

    <div class="container">
        <header class="container mt-5">
            <img src="/svgs/LOGO RADICAL.svg" alt="logo" height="50"/>
        </header>


        <div class="container d-flex flex-row justify-content-center h-100" style="margin-top: 5%;">

            <div class="container d-flex flex-column justify-content-center position-relative">
                <div class="ml-5 pl-2">
                    <h1 class="fw-bold">Welcome to rMake!</h1>
                    <p class="mainSubTitle">Your creative space</p>
                </div>
                <div class="ml-5 pl-5">
                    <p>
                        Step into the world of rMake, where the art of
                        collaborative writing converges with the structure of
                        coding. Out platform reimagines the writing experience,
                        enabling seamless teamwork and innovative content
                        creation. Embrace a new way of composing together
                    </p>
                </div>

                <svg height="100%" width="100%" style="position: absolute;">
                    <line x1="15" y1="160" x2="1" y2="160" style="stroke:rgb(0,0,255);stroke-width:1" />
                    <line x1="1" y1="160" x2="1" y2="250" style="stroke:rgb(0,0,255);stroke-width:1" />
                    <line x1="1" y1="250" x2="20" y2="250" style="stroke:rgb(0,0,255);stroke-width:1" />

                    <circle cx="15" cy="160" r="5" fill="yellow" />
                    <rect x="20" y="245" height="10" width="10" fill="green"/>
                </svg>
            </div>

            <div class="container d-flex align-items-center justify-content-center">
                <div class="login-container" style="background-color: white;">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div>
                            <p class="optionTitle">Start writing right away</p>
                            <p class="optionDesc">Hit "Start writing and let your words flow"</p>
                        </div>
                        <div>
                            <a @onclick="toEditor" class="btn option-btn yellow-btn btn-lg">
                                <img src="/svgs/Arrow up.svg" class="rotate_image" />
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div>
                            <p class="optionTitle">Create a new portfolio</p>
                            <p class="optionDesc">Create a new portfolio for your content</p>
                        </div>
                        <div>
                            <a @onclick="newSession" class="btn option-btn pink-btn btn-lg">
                                <img src="/svgs/Arrow up.svg" class="rotate_image" />
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div>
                                <p class="optionTitle">Load an existent portfolio</p>
                                <p class="optionDesc">Revisit your treasury of words</p>
                            </div>
                            <div>
                                <a @onclick="navigate" class="btn option-btn blue-btn btn-lg">
                                    <img src="/svgs/Arrow up.svg" class="rotate_image" />
                                </a>
                            </div>

                        </div>

                        <div>
                                <input Id="token" @bind="tokenstring" @onkeydown="Enter" class="form-control-index small" placeholder="Ex: 24256aG-A90n56D3-a722" autofocus />
                        </div>
                    </div>

                </div>
            </div>



        </div>


    </div>
   

</div>


@code {

    string tokenstring;
    string url;


    protected override Task OnInitializedAsync()
    {

        tokenstring = "";
        url = "/projects/" + tokenstring;



        return base.OnInitializedAsync();  
    }

    async void newSession()
    {
        await localStorage.ClearAsync();
        await PVm.InitializeProjects(vm.App);
        NavigationManager.NavigateTo("/projects/");
    }

    async void navigate()
    {
        if (tokenstring != "")
        {
            await localStorage.ClearAsync();
            await PVm.InitializeProjects(vm.App);

            NavigationManager.NavigateTo("/projects/" + tokenstring);
        }
    }

    async void toEditor()
    {
        await localStorage.ClearAsync();


        if (PVm.Portfolio == null)
        {
            await PVm.InitializeProjects(vm.App);
        }


        if (PVm.Portfolio.Projects.Count() <= 0)
        {
            PVm.Portfolio.AddProject();

            vm.Project = PVm.Portfolio.Projects.First();
        }

        await PVm.OnPropertyChanged();
        NavigationManager.NavigateTo("/app/" + vm.Project.GUID);

    }

    public async void Enter(KeyboardEventArgs e)
    {
        if (tokenstring != "" && (e.Code == "Enter" || e.Code == "NumpadEnter"))
        {
            await localStorage.ClearAsync();
            await PVm.InitializeProjects(vm.App);

            NavigationManager.NavigateTo("/projects/" + tokenstring);
        }
    }
}