@page "/projects"
@page "/projects/{token}"
@using System.ComponentModel.DataAnnotations;
@using rMakev2.ViewModel;
@using rMakev2.Components;
@using rMakev2.Services;
@using rMakev2.Models;
@inject RmakeViewModel vm;
@inject ProjectViewModel PVm;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<style>
    .projectList {
        display: flex;
        flex-direction: row;
        height: 80%;
        flex-wrap: wrap;
        padding: 5px;
        width: 100%;
    }

    .projectContainer {
        border: solid black 1px;
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        width: 10%;
        height: 20%;
    }

    .createButton {
        border: solid black 1px;
        border-radius: 5px;
        padding: 5px;
    }

    .projectInput {
        height: 2rem;
        width: 90%;
        margin: 5px;
        margin-bottom: 5px;
        padding: 2px;
    }

        .projectInput:focus {
            border: solid black 1px;
            border-radius: 5px;
        }

    .mainContainer {
        height: 80%;
        width: 100%;
        padding: 10px;
    }

</style>

<div class="mainContainer">
    <button @onclick="PVm.NewProject" class="createButton">Create project</button>

    <div class="projectList">


        @foreach (var project in PVm.Portfolio.Projects)
        {
            <div class="projectContainer">
                <input @bind="@project.Name" @bind:event="oninput" class="projectInput" @onchange="@PVm.OnPropertyChanged"></input>
                <button @onclick="() => PVm.DeleteProject(project)" class="createButton">Delete</button>
                <button @onclick="() => PVm.LoadDocuments(project)" class="createButton">Load</button>

            </div>
        }

    </div>



</div>

@code {
    [Parameter]
    public string token { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try
        {

        }
        catch
        {

        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await loadStorage();

        }

    }

    public async Task loadStorage()
    {
 

        if (await localStorage.ContainKeyAsync("portfolio") == false)
            return;

        Portfolio storagePortfolio = new Portfolio();

        storagePortfolio = await localStorage.GetItemAsync<Portfolio>("portfolio");

        storagePortfolio.App = vm.App;
        storagePortfolio.AppId = vm.App.Id;

        PVm.Portfolio = storagePortfolio;

        foreach(var proj in PVm.Portfolio.Projects)
        {
            proj.Portfolio = PVm.Portfolio;
        }

        StateHasChanged();


    }



}
