@page "/projects"
@page "/projects/{token}"
@using System.ComponentModel.DataAnnotations;
@using rMakev2.ViewModel;
@using rMakev2.Services;
@inject RmakeViewModel vm;
@inject ProjectViewModel PVm;

<style>
    .projectList{
        display:flex;
        flex-direction:column;
    }


</style>

<div>
    <button onclick="@PVm.NewProject">New project</button>

    <div class="projectList">


        @foreach(var project in PVm.Portfolio.Projects)
        {
            <button>@project.Name</button>
        }

    </div>



</div>

@code {
    [Parameter]
    public string token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (token != "")
            {
                await PVm.LoadProyectAsync(token);
            }
        }
        catch
        {

        }
    }

    


}
